.wrapper{
    padding: 50px;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,121,9,1) 52%, rgba(0,212,255,1) 100%);
    height: 100vh;
}
.display_news{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 50px 20px;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
}
.display_news::-webkit-scrollbar{
    display: none;
}
.btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}
.createNews_btn{
  width: 200px;
  border: none;
  padding: 15px;
  border-radius: 8px;
  background-color: blueviolet;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #FFF;
}
.article_card{
    width: 100%;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.article_card:nth-child(even){
    background-color: #8A2BE2;
    color: #FFF;
}
.article_card:nth-child(even) .readMore_btn{
    background-color: #FFF;
    color: black;
}
.article_card:nth-child(odd){
    background-color: #FFF;
    color: black;
    border: 2px solid rgb(207, 206, 206);
}
.article_card img{
    width: 100%;
    height: 150px;
    border: 1px solid #6666;
    /* border-radius: 50%; */
}
.article_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    padding: 8px;
    border-radius: 0 0 8px 8px;
}
.article_title{
    font-weight: 500;
    width: 100%;
}
.article_author{
    font-size: 12px;
    width: 100%;
    text-align: right;
}
.readMore_btn{
    border: none;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    border-radius: 5px;
    color: #fff;
    width: 150px;
}
@media screen and (max-width: 700px){
    .display_news{
        grid-template-columns: 1fr;
    }
}