<div class="wrapper">
  <i class='material-icons back_icon' (click)="backToHomepage()">keyboard_backspace</i>
  <div class="inner_wrapper">
    <div>
      @if (!editModalOpen){
      <h2 class="article_title">{{ articleDetails.title }}</h2>

      } @else {
      <input
        class="article_title_input"
        type="text"
        [(ngModel)]="articleDetails.title"
      />
      }
    </div>
    <!-- <div class="article_content"> -->
      @if (!editModalOpen){
      <div class="article_content">{{ articleDetails.content }}</div>

      } @else {
      <textarea
        class="article_content_input"
        [(ngModel)]="articleDetails.content"
        name=""
        id=""
        cols="30"
        rows="10"
      ></textarea>
      }
    <!-- </div> -->
    <div class="actions_btn">
      <i
        style="color: red; cursor: pointer"
        (click)="deleteConfirm()"
        class="material-icons"
        >delete</i
      >

      @if (!editModalOpen){<i
        style="color: blue; cursor: pointer"
        (click)="edit()"
        class="material-icons"
        >edit</i
      >} @else {<i
        style="color: green; cursor: pointer; width: 20px"
        (click)="editNews()"
        class="material-icons"
        >checkmark</i
      >}
    </div>
  </div>
  <app-modal [isOpen]="deleteModalOpen" (isClose)="deleteModalToggle(false)">
    <div class="modal_confirm">
      <h3>Are you sure you want to Delete Article?</h3>
      <div class="actions_modal">
        <button class="deleteBtn" (click)="deleteNews()">Delete</button>
        <button class="cancelBtn" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </app-modal>
</div>
